#main-bg-img {
  background-image: url("images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_481606-89.avif");
  background-position: center;
  background-size: cover;
  color: #979797;
}

